/* mtech-thesis-style.css

    v1.00, 2025-11-12
    Author: Aayush Vishnoi
    License: MIT License
    This CSS code styles the HTML rendering of M.Tech thesis class
*/

/* Base document styling - mimics A4 page with 1-inch margins */
body {
    font-family:    'Times New Roman', Times, serif; /* D.2.2.1: Times New Roman */
    font-size:      12pt; /* D.2.2.1: 12 pts */
    line-height:    1.5;  /* D.2.2.1: 1.5 line spacing */
    max-width:      160mm; /* D.2.2.1: Text width 160 mm */
    margin:         30mm auto 22mm auto; /* D.2.2.1: Top 30mm, Bottom 22mm */
    padding:        0;
    text-align:     justify;
    color:          #000000;
    hyphens:        auto; /* Allow browser to hyphenate if needed to keep text justified */
}

/* Title page styling */
div[data-pdf-se-type="Title"],
.title-page {
    font-size:      18pt;
    font-weight:    700;
    text-align:     center;
    line-height:    1.3;
    margin:         24pt 0;
}

.subtitle {
    font-size:      14pt;
    font-weight:    600;
    text-align:     center;
    margin:         12pt 0;
}

.author-info {
    font-size:      12pt;
    font-weight:    500;
    text-align:     center;
    margin:         18pt 0;
}

/* Chapter headings - centered, bold, uppercase */
h1[data-pdf-se-type="H1"],
h1[data-pdf-se-type-original="chapter"],
.chapter-title {
    font-size:      18pt; /* D.2.5.2.b: 18pt */
    font-weight:    700;
    text-align:     center;
    text-transform: none; /* D.2.5.2.b: Upper and lower case */
    margin-top:     45mm; /* D.2.5.2.a: 75mm from edge - 30mm margin */
    margin-bottom:  25mm; /* D.2.5.2.c: 25mm gap below */
    page-break-after: avoid;
}

/* Chapter number styling */
h1[data-pdf-se-type="H1"] > span:first-of-type {
    display:        block;
    margin-bottom:  12pt;
}

/* Section headings - left-aligned, bold */
h2[data-pdf-se-type="H2"],
.section-title {
    font-size:      16pt; /* D.2.5.3.d: 16pt (5mm) */
    font-weight:    700;
    text-align:     left;
    margin-top:     15mm; /* D.2.5.3.d: 15mm space above */
    margin-bottom:  15mm; /* D.2.5.3.d: 15mm space below */
    page-break-after: avoid;
}

h2[data-pdf-se-type="H2"] > span:first-of-type {
    margin-inline-end: 0.5em;
}

/* Subsection headings */
h3[data-pdf-se-type="H3"],
.subsection-title {
    font-size:      14pt; /* D.2.5.3.d: 14pt (4mm) */
    font-weight:    700;
    text-align:     left;
    margin-top:     15mm; /* D.2.5.3.d: 15mm space above */
    margin-bottom:  15mm; /* D.2.5.3.d: 15mm space below */
    page-break-after: avoid;
}

h3[data-pdf-se-type="H3"] > span:first-of-type {
    margin-inline-end: 0.5em;
}

/* Sub-subsection headings */
h4[data-pdf-se-type="H4"],
.subsubsection-title {
    font-size:      12pt;
    font-weight:    700; /* D.2.5.3.d: bold face */
    font-style:     normal; /* Guideline mentions italics, but also caps, small-caps... */
    text-align:     left;
    margin-top:     12pt;
    margin-bottom:  6pt;
}

h4[data-pdf-se-type="H4"] > span:first-of-type {
    margin-inline-end: 0.5em;
}

/* Paragraphs */
p[data-pdf-se-type="P"],
.paragraph {
    margin-top:     0;
    margin-bottom:  0; /* D.2.5.1.b: Use indent, not parskip */
    text-indent:    12mm; /* D.2.5.1.b: First line indent 12mm */
    text-align:     justify;
}

/* Remove indent for first paragraph after heading */
:is(h1, h2, h3, h4) + p[data-pdf-se-type="P"],
:is(h1, h2, h3, h4) + .paragraph {
    text-indent:    0;
}

/* Abstract and special sections */
.abstract,
.acknowledgement,
.declaration {
    text-align:     justify;
    margin:         24pt 0;
}

.abstract p:first-of-type::first-line {
    font-weight:    600;
}

/* Keywords */
.keywords {
    margin-top:     12pt;
    font-weight:    600;
}

/* Tables */
table[data-pdf-se-type="Table"],
.thesis-table {
    border-collapse:    collapse;
    margin:             24pt auto;
    width:              100%;
    max-width:          90%;
}

table[data-pdf-se-type="Table"] th,
.thesis-table th {
    border-top:         1.5pt solid #000;
    border-bottom:      1pt solid #000;
    padding:            8pt 12pt;
    text-align:         center;
    font-weight:        700;
    background-color:   #f5f5f5;
}

table[data-pdf-se-type="Table"] td,
.thesis-table td {
    border-bottom:      0.5pt solid #ccc;
    padding:            6pt 12pt;
    text-align:         center;
}

table[data-pdf-se-type="Table"] tr:last-child td,
.thesis-table tr:last-child td {
    border-bottom:      1.5pt solid #000;
}

/* Table captions */
/* D.2.4.f: Table caption ABOVE */
div[data-pdf-se-type="Caption"],
.table-caption {
    text-align:         center;
    font-size:          11pt;
    margin:             12pt 0;
    font-weight:        600;
}

div[data-pdf-se-type="Caption"] > span[data-pdf-se-type="Lbl"] {
    font-weight:        700;
}

div[data-pdf-se-type="Caption"] > span[data-pdf-se-type="Lbl"]::after {
    content:            ": ";
    display:            inline;
}

div[data-pdf-se-type="Caption"] > p[data-pdf-se-type="P"] {
    display:            inline;
    font-weight:        normal;
}

/* Figures */
figure,
.thesis-figure {
    text-align:         center;
    margin:             24pt auto;
    page-break-inside:  avoid;
}

figure img,
.thesis-figure img {
    max-width:          100%;
    height:             auto;
    display:            block;
    margin:             0 auto;
}

/* D.2.4.f: Figure caption BELOW */
figcaption,
.figure-caption {
    text-align:         center;
    font-size:          11pt;
    margin-top:         12pt;
    font-weight:        600;
}

/* Equations */
.equation,
div[data-pdf-se-type="Formula"] {
    text-align:         center;
    margin:             18pt 0;
    display:            flex;
    justify-content:    center;
    align-items:        center;
}

.equation-number {
    margin-left:        auto;
    padding-left:       12pt;
}

/* Lists - Enumerated */
ol[data-pdf-se-type-original="enumerate"],
.enumerated-list {
    margin:             12pt 0;
    padding-left:       36pt;
    list-style-type:    decimal;
}

ol[data-pdf-se-type-original="enumerate"] li,
.enumerated-list li {
    margin-bottom:      6pt;
    text-align:         justify;
}

/* Lists - Itemized */
ul[data-pdf-se-type-original="itemize"],
.itemized-list {
    margin:             12pt 0;
    padding-left:       36pt;
    list-style-type:    disc;
}

ul[data-pdf-se-type-original="itemize"] li,
.itemized-list li {
    margin-bottom:      6pt;
    text-align:         justify;
}

/* Nested lists */
:is(ol, ul) :is(ol, ul) {
    margin-top:         6pt;
    margin-bottom:      6pt;
}

/* Table of Contents */
ol[data-pdf-se-type="TOC"],
.toc {
    padding-inline-start:   0;
    margin-inline-start:    0;
    list-style:             none;
}

li[data-pdf-se-type="TOCI"],
.toc-item {
    list-style:             none;
    margin-bottom:          8pt;
    display:                flex;
    justify-content:        space-between;
}

/* TOC Chapter entries */
li[data-pdf-se-type="TOCI"].chapter-entry {
    font-weight:            700;
    margin-top:             12pt;
    margin-bottom:          6pt;
}

/* TOC indentation for sections */
ol[data-pdf-se-type="TOC"] ol[data-pdf-se-type="TOC"] {
    padding-inline-start:   24pt;
}

li[data-pdf-se-type="TOCI"] > a > span[data-pdf-se-type="Lbl"] {
    font-weight:            600;
    margin-inline-end:      6pt;
}

/* TOC dots leader */
li[data-pdf-se-type="TOCI"] > a::after {
    content:                " ";
    flex:                   1;
    border-bottom:          1pt dotted #999;
    margin:                 0 6pt;
}

/* List of Figures and Tables */
.lof, .lot {
    padding-inline-start:   0;
    list-style:             none;
}

.lof li, .lot li {
    margin-bottom:          8pt;
    display:                flex;
    justify-content:        space-between;
}

/* Nomenclature */
.nomenclature {
    margin:                 24pt 0;
}

.nomenclature-table {
    border-collapse:        collapse;
    width:                  100%;
    margin:                 12pt 0;
}

.nomenclature-table td {
    padding:                6pt 12pt;
    vertical-align:         top;
    border:                 none;
}

.nomenclature-table td:first-child {
    font-weight:            600;
    width:                  20%;
}

/* Abbreviations section */
.abbreviations {
    margin-top:             24pt;
}

.abbreviations-table {
    border-collapse:        collapse;
    width:                  100%;
    margin:                 12pt 0;
}

.abbreviations-table td {
    padding:                6pt 12pt;
    vertical-align:         top;
    border:                 none;
}

.abbreviations-table td:first-child {
    font-weight:            600;
    width:                  20%;
}

/* References/Bibliography */
ul[data-pdf-se-type-original="list"].bibliography,
.references {
    padding-left:           0;
    list-style:             none;
}

ul[data-pdf-se-type-original="list"].bibliography li,
.references li {
    margin-bottom:          12pt;
    text-align:             justify;
    padding-left:           24pt;
    text-indent:            -24pt;
}

ul[data-pdf-se-type-original="list"] li[data-pdf-se-type="LI"] > span[data-pdf-se-type="Lbl"] {
    font-weight:            600;
}

ul[data-pdf-se-type-original="list"] li[data-pdf-se-type="LI"] > span[data-pdf-se-type="Lbl"]::after {
    content:                " ";
}

/* Footnotes */
div[data-pdf-se-type-original="footnote"] {
    font-size:              10pt;
    margin-top:             6pt;
    border-top:             0.5pt solid #999;
    padding-top:            6pt;
}

span[data-pdf-se-type-original="footnotemark"],
.footnote-mark {
    vertical-align:         super;
    font-size:              0.83em;
}

/* Page numbers */
/* D.2.3.1: Center of footer */
.page-number {
    text-align:             center;
    margin-top:             24pt;
    font-size:              11pt;
}

/* Roman numerals for preliminary pages */
.roman-page {
    text-align:             center;
    font-style:             italic;
}

/* Headers and Footers */
.header {
    text-align:             right;
    font-size:              10pt;
    margin-bottom:          12pt;
    padding-bottom:         6pt;
    border-bottom:          0.5pt solid #000;
}

.footer {
    text-align:             center; /* D.2.3.1: Center */
    font-size:              12pt; /* D.2.2.1: 12pt */
    margin-top:             12pt;
    padding-top:            6pt;
    border-top:             0; /* No rule */
}

/* Certificate and Declaration pages */
.certificate, .declaration {
    margin:                 36pt 0;
}

.signature-block {
    margin-top:             48pt;
    text-align:             right;
}

.signature-line {
    display:                inline-block;
    border-bottom:          1pt solid #000;
    width:                  200pt;
    margin-bottom:          6pt;
}

/* Code blocks (if any) */
pre, code {
    font-family:            'Courier New', Courier, monospace;
    font-size:              10pt;
    background-color:       #f5f5f5;
    padding:                12pt;
    border:                 1pt solid #ddd;
    overflow-x:             auto;
    margin:                 12pt 0;
}

code {
    padding:                2pt 4pt;
}

/* Blockquotes */
blockquote {
    margin:                 18pt 36pt;
    padding-left:           18pt;
    border-left:            3pt solid #ccc;
    font-style:             italic;
}

/* Hyperlinks */
a {
    color:                  #000080;
    text-decoration:        none;
}

a:hover {
    text-decoration:        underline;
}

/* Print media adjustments */
@media print {
    body {
        max-width:          100%;
        margin:             0;
        padding:            0;
    }
    
    .page-break {
        page-break-after:   always;
    }
    
    h1, h2, h3, h4 {
        page-break-after:   avoid;
    }
    
    figure, table {
        page-break-inside:  avoid;
    }
}

/* Accessibility */
*:focus {
    outline:                2pt solid #4A90E2;
    outline-offset:         2pt;
}

/* Screen reader only content */
.sr-only {
    position:               absolute;
    width:                  1px;
    height:                 1px;
    padding:                0;
    margin:                 -1px;
    overflow:               hidden;
    clip:                   rect(0, 0, 0, 0);
    border:                 0;
}